<!--<table class="table">
  <thead>

      <tr>
         
          <th>Color</th>
        
      </tr>
  </thead>
  <tbody> 
  <tr (click)="setCurrentColor(color)"
  routerLink="/cars/color/{{color.colorId}}"
  *ngFor="let color of colors"
   [class]="getCurrentColorClass(color)">
    
      <td>{{color.colorName}}</td>
      
  </tr>
 </tbody> 
</table>
-->

<div class="accordion-item">
    
    

  <div class="accordion-body">
    <div class="mb-3">
      <label for="filterText" class="form-label">Color Search</label>
      
      <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search for a color.">
    </div>

<ul style="padding: 0;">
   
    
    <li (click)="setCurrentColor(color)" 
    routerLink="/cars/color/{{color.colorId}}"
    *ngFor="let color of colors | filtercolor:filterText"  [class]="getCurrentColorClass(color)">{{color.colorName}}</li>
 </ul>  

</div>
</div>
