
<!-- 
<table class="table table-dark table-striped">
  <thead>

      <tr>
         
          <th>Brand</th>
        
      </tr>
  </thead>
  <tbody> 
  <tr (click)="setCurrentBrand(brand)" *ngFor="let brand of brands">
    
      <td  [class]="getCurrentBrandClass(brand)">{{brand.brandName}}</td>
      
  </tr>
 </tbody> 
</table>  -->
<ul class="list group">
    <li  (click)="allCarsActive()"
    routerLink="/cars" [class]="getAllCarsClass()"> ALL BRANDS </li>
    <li (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{brand.brandId}}"
    *ngFor="let brand of brands" [class]="getCurrentBrandClass(brand)">{{brand.brandName}}</li>
 
</ul> 
<h5 *ngIf="currentBrand">{{currentBrand.brandName}} seçtiniz.
</h5>

