
  

  

<!--  
 <div class="input-group">
   <label> <h5>Name on Card : </h5></label>
    <input type="text" aria-label="FistandLastName" class="form-control">
   
  </div>
  <div class="input-group">
    <label> <h5>Card Number : </h5></label>
    <input type="text" aria-label="CardNumber" class="form-control">
  
  </div>
  <div class="input-group">
    <label> <h5>Cvv : </h5></label>
    <input type="text" aria-label="Cvv" class="form-control">
  
  </div>
  <div class="input-group">
    <label> <h5>Valid Date : </h5></label>
    <input type="text" aria-label="First name" class="form-control">
  
  </div> 


 -->


 <div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name on Card : </label>
    <input type="text" class="form-control"  aria-describedby="nameoncard">

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Card Number: </label>
    <input type="text" class="form-control" >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Cvv: </label>
    <input type="text" class="form-control" >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Valid Date: </label>
    <input type="text" class="form-control" >
  </div>
  <button (click)="Pay()" routerLink="" type="submit" class="btn btn-primary">Pay</button>
</div>
