<!-- 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" >EnYasalAraçKiraçlama</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> <h5>Home</h5></a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="brands">Brand</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="colors">Color</a>
          </li>
          <app-cart-summary></app-cart-summary>
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->







<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">
      <h6> RENT A CAR </h6>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <app-cart-summary></app-cart-summary>

        <div class="col-md-6" style="float:right">
          <button *ngIf="!isAuthenticated()" type="button" class="btn entryButton" routerLink="/login" >Sign In</button>
        </div>
        <div class="col-md-6">
          <button *ngIf="!isAuthenticated()" type="button" class="btn entryButton" routerLink="/register" >Sign Up</button>
        </div>
        <div class="btn-group" style="margin-left: -15px" *ngIf="isAuthenticated()" >
          <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{user.firstName}}  {{user.lastName}}
          </button>
          <ul class="dropdown-menu w-100 text-center" >
  
            <li  class="btn dropdown-item" routerLink="/profile" > Profile </li>
            <li class="btn dropdown-item" (click)="logout()"> Log Out </li>
          </ul>
        </div>
        <!-- <li class="nav-item">
          <button class="nav-link active" aria-current="page" routerLink="/login">Login</button>

        </li>

        <li class="nav-item">
          <button class="nav-link active" aria-current="page" routerLink="/register">Register</button>
        </li>


        <li  class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Deniz
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a  class="dropdown-item" routerLink="/profile">Profile </a></li>
            
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item">Log Out</a></li>
          </ul>
        </li>
      

 -->









      </ul>





    </div>
  </div>
</nav>