<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Add Car</h5>
            </div>

            <div class="card-body">
                <form [formGroup]="carAddForm">
                    <div class="mb-3">
                        <label for="carName">Car Name</label>
                        <div class="form-group">
                            <input type="text" id="carName" formControlName="carName" class="form-control"
                                placeholder="Car Name" />
                        </div>
                    </div>
                    <div class="mb-3"><label for="brandId">Brand</label>
                        <!-- <div class="form-group">
                            <input type="number" id="brandId" formControlName="brandId" class="form-control"
                                placeholder="Brand Id" />
                        </div>  -->
                        <select #brandId (change)="setBrandId(brandId.value)" class="form-select" formControlName="brandId" >
                            <option *ngFor="let brand of brands" value="{{brand.brandId}}">{{brand.brandName}}</option>
                        </select>
                    </div>

                    <div class="md-3"><label for="colorId">Color</label>
                        <!-- <div class="form-group">
                            <input type="number" id="colorId" formControlName="colorId" class="form-control"
                                placeholder="Color Id" />
                        </div>  -->
                         <select #colorId  (change)="setColorId(colorId.value)" class="form-select" formControlName="colorId">
                            <option *ngFor="let color of colors" value="{{color.colorId}}">{{color.colorName}}</option>
                        </select>
                    </div> 

                    <div class="md-3"><label for="modelYear">Model Year</label>
                        <div class="form-group">
                            <input type="text" id="modelYear" formControlName="modelYear" class="form-control"
                                placeholder="Model Year" />
                        </div>
                    </div>
                    <div class="md-3"> <label for="dailyPrice">Daily Price</label>
                        <div class="form-group">
                            <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control"
                                placeholder="Daily PRice" />
                        </div>
                    </div>

                    <div class="md-3"> <label for="description">Description</label>
                        <div class="form-group">
                            <input type="text" id="description" formControlName="description" class="form-control"
                                placeholder="Description" />
                        </div>
                    </div>

                </form>

            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-pprimary" (click)="addCar()">Add</button>
            </div>
        </div>



    </div>
</div>